DJANGO_SETTINGS_MODULE=ysnp.settings.production
ALLOWED_HOSTS=.youshallnotpass.review
DOMAIN_NAME=youshallnotpass.review

GITHUB_KEY=
GITHUB_SECRET=

POSTGRES_PASSWORD=
POSTGRES_USER=

DJANGO_SENTRY_DSN=
