celery
dj-database-url
django
django-environ
psycopg2
redis
requests
social-auth-app-django

# Dev
django-queryinspect
ipdb
ipython

# Tests
coverage
isort
flake8

# Production
gunicorn
raven
whitenoise
