{% extends 'base.html' %}

{% block content %}
<div class="home">
  <h1>You Shall Not Pass!</h1>
  <p>Github webhook that blocks pull requests with less than two reviews.</p>
  <a href="{% url 'social:begin' 'github' %}">Github Login</a>
  <p class="alert"><strong>In development!</strong> You Shall Not Pass is not even in Beta yet. Got a bug? <a href="#">Let us know!</a></p>
<pre>
<span class="gs">(\.</span>   <span class="gc">\</span>      <span class="gs">,/)</span>
 <span class="gs">\(</span>   <span class="gc">|\</span>     <span class="gs">)/</span>
 <span class="gc">//\  | \   /\\
(/ /\_</span><span class="gb">#</span><span class="gs">oo</span><span class="gb">#</span><span class="gc">_/\ \)
 \/\</span>  <span class="gb">####</span>  <span class="gc">/\/</span>
      <span class="gb">`##'
</pre>
</div>
{% endblock content %}
