{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
    {% if not user.github_synced_at %}
      Wait a minute, we're getting your repositories :)
    {% else %}
      <h6>Last update at: {{ user.github_synced_at }}</h6>
    {% endif %}
    </div>
  </div>

  {% if user.github_synced_at %}
  <div class="row">
    <div class="col">
      <ul>
      {% for hook in hooks %}
        {% if hook.activated %}
        <li><em>{{ hook.repo_full_name }}</em> activated</li>
        {% else %}
        <li>{{ hook.repo_full_name }} (<a href='{% url 'hook_setup' github_id=hook.repo_github_id%}'>activate</a>)</li>
        {% endif %}
      {% endfor %}
      </ul>
  </div>
  {% endif %}
</div>
{% endblock content %}
